---
layout: base
---

<div class="w-4/5 mx-auto">
  {{ content | safe }}
  <br />
  {% include "partials/_paginate.njk" %}
  <br />
  <hr />
  <br />
  <a href="/blog">Blog Home</a>
</div>
