---
layout: base
title: "Home"
tags: page
order: 1
---

<div class="w-4/5 mx-auto">
  <img
    class="w-1/2 mx-auto shadow-lg rounded-xl"
    src="/assets/images/banner.jpg"
    alt=""
  />

  <div class="text-center">
    <h1 class="my-4 text-3xl font-extrabold">{{ title }}</h1>
    <p>
      I am a site built with <a href="https://www.11ty.io/">Eleventy</a>. This
      site is my effort to understand Eleventy. I am doing so by guiding others.
      Together, we will Learn Eleventy.
    </p>

    <a
      href="https://dev.to/psypher1/lets-learn-11ty-part-4-data-in-eleventy-6mo"
      >Eleventy Tutorial</a
    >.
  </div>
</div>
