---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---

<?xml version=1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
  <url>
    <loc>https://funny-gumption-3c22e3.netlify.app{{ page.url }}</loc>
    <lastmod>{% currentDate date %}</lastmod>
  </url>
  {% endfor %}
</urlset>
